{% extends 'base.html' %}

{% block content %}
  <h2>Register</h2>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="form-container">
  <form method="post" action="/register" >
    <div>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
  </div>
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"> 
    <button type="submit">Register</button> 
  </div>
  </form>
</div>
{% endblock %}